.container{
    width: 100%;
    background-color: transparent;
}

header{
    width: 100%;
    img{
        width: 100%;
    }
    nav{
        position: absolute;
        top: 0;
        right: 0;
    }
}